<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://campervibebooking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>campervibebooking.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>campervibebooking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$campervibebooking</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CampervibeBooking.Data.Core.Context" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CampervibeBooking.Data.Core.Context, CampervibeBooking.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CampervibeBooking" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wbxhc1hoy7.database.windows.net,1433;Initial Catalog=camperiA1aIU60aQ;User ID=paul.davies@wbxhc1hoy7;Password=Thurston123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=CampervibeBooking;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CampervibeBooking_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=CampervibeBooking;integrated security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CampervibeBooking-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wbxhc1hoy7.database.windows.net,1433;Initial Catalog=camperiA1aIU60aQ;User ID=paul.davies@wbxhc1hoy7;Password=Thurston123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CampervibeBooking.Data.Core.Context-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CampervibeBooking.Data.Core.Context" />
  </ItemGroup>
</Project>